[2019-05-23 15:34] VSharovatov opened #1 "Tests result is written in one test"
Hi, thanks for your plugin. When I run two tests, the result in the testrail is written to one test. I saw that you fixed this problem, but it is repeat. Thanks
![image](https://user-images.githubusercontent.com/15959625/58265817-13f00780-7d89-11e9-84be-f78832e40a38.png)

[2019-05-23 17:25] PeterNgTr commented on #1
Can you please expose more information regarding two tests? Does it mean two scenarios in one feature test file?

[2019-05-24 07:46] VSharovatov commented on #1
Hello. I checked all the cases.
1. Two scenarios in one feature test file.
 2. One scenario in two features tests files

Result first and second case in testrail is the same.

чт, 23 мая 2019 г. в 20:25, Peter Nguyen Tr <notifications@github.com>:

[2019-05-24 07:49] VSharovatov commented on #1
![testrail_result](https://user-images.githubusercontent.com/15959625/58311396-8b697980-7e11-11e9-8e89-53f579086c48.png)
![One scenario in two features tests files](https://user-images.githubusercontent.com/15959625/58311415-93c1b480-7e11-11e9-887d-b4318748bd9f.png)
![Two scenarios in one feature test file](https://user-images.githubusercontent.com/15959625/58311416-93c1b480-7e11-11e9-929a-b695e27

[2019-06-21 10:04] RuslanAisin opened #3 "Where I should input CaseId?"
I Have this error 'Please check {"error":"Field :case_id is not a valid test case."}'
Where in my test I should input value caseId? in conf.js?

[2019-06-21 10:09] PeterNgTr commented on #3
Hi, not in config but in scenario like this

Note: you should include the test case id to make it works, otherwise, this plugin has no clue which case id to be added to test run on Testrail.

An example:

Scenario('Search function is displayed @C12345', (I, homePage) => {
  I.seeElement(homePage.searchTextbox);
  I.seeElement(homePage.searchButton);
});

[2019-06-21 10:59] RuslanAisin commented on #3
It's succsed. Thank you very usefull!

[2019-06-21 13:44] RuslanAisin commented on #3
So I have one more question. Can I select certain cases? At the moment Test run included all cases.

[2019-06-21 14:20] PeterNgTr commented on #3
I think that as long as you put the test case ids in your scenarios, the test run will include what you put. :)

[2019-06-21 14:42] RuslanAisin commented on #3
In first screen all included cases in my project.
![nobag](https://user-images.githubusercontent.com/49075028/59930232-2bcfaf80-944b-11e9-88f9-f1e36b277691.PNG)
In second screen result of my started test, where I included just three cases. And this cases was tested with result pass or failure. Other cases with status untest I did not include in my *_test.js.
![nobag2](https://user-images.githubuse

[2019-06-21 17:56] PeterNgTr commented on #3
Oh I see the problem. It’s by default when adding a run all tcs are included. I would make a fix to publish only executed tcs.

[2019-06-24 11:07] RuslanAisin commented on #3
It will be great thank you

[2019-06-24 12:09] PeterNgTr commented on #3
@RuslanAisin v1.1.8 should fix this. Can you try and close this issue if it is working for you?

[2019-06-24 13:02] RuslanAisin commented on #3
I testes this issue. As you see it a little be worse.
![nobag3](https://user-images.githubusercontent.com/49075028/60020611-0801a900-9699-11e9-81a1-a954aded4189.PNG)
 I run 4 tcs but in TestRail added just one tcs with failure.

[2019-06-25 13:01] RuslanAisin commented on #3
I think the problem in 47 Row:
testrail.addRun(projectId, { suite_id: suiteId, name: runName, **include_all: false** }

Maybe you can add logical function that add tcs in TestRail which include *_test.js

[2019-07-11 15:43] PeterNgTr commented on #3
@RuslanAisin would be also nice if you can make a pr :)

[2019-07-11 16:02] RuslanAisin commented on #3
@PeterNgTr what is 'pr'?

[2019-07-11 18:10] PeterNgTr commented on #3
Pull Request:)

[2019-07-12 11:13] RuslanAisin commented on #3
@PeterNgTr unfortunetly I dnk, how to do it
![pr](https://user-images.githubusercontent.com/49075028/61124316-3829b400-a4af-11e9-8b6a-022c7d72cf42.png)

[2019-09-04 08:04] PeterNgTr commented on #1
@VSharovatov could you help testing with latest version? I hope this will fix your issue.

[2019-09-04 08:05] PeterNgTr commented on #3
@RuslanAisin could you help testing with latest version? I hope this will fix your issue.

[2019-09-04 08:11] RuslanAisin commented on #3
Oh hello thank you a lot. Take me timeОтправлено со смартфона Samsung Galaxy.
-------- Исходное сообщение --------От: Peter Nguyen Tr <notifications@github.com> Дата: 04.09.2019  11:05  (GMT+03:00) Кому: PeterNgTr/codeceptjs-testrail <codeceptjs-testrail@noreply.github.com> Копия: RuslanAisin <ruslan-spb@mail.ru>, Mention <mention@noreply.github.com> Тема: Re: [PeterNgTr/codeceptjs-testrail] Where

[2019-09-11 07:00] VSharovatov commented on #1
@PeterNgTr  I has tested latest version and everything worked fine. Thanks.

[2019-09-11 07:59] PeterNgTr commented on #1
perfect! Thanks @VSharovatov!

[2019-09-11 07:59] #1 closed

[2019-09-16 09:59] RuslanAisin commented on #3
@PeterNgTr
Maybe its only my problem?

'There aren't any tests in this test run.' in TestRail

My Scenario

Feature('Test');

Scenario('test something @C61', (I) => {

    I.amOnPage('/');
});

Scenario('test @C120', (I) => {

    I.amOnPage('/');
});

Scenario('test @C59', (I) => {

    I.amOnPage('/');
});

Scenario('test @C9', (I) => {

    I.amOnPage('/');
});

[2019-09-16 10:07] PeterNgTr commented on #3
@RuslanAisin maybe it's due lowercase C? could you try to test with all uppercase C?

[2019-09-16 10:17] RuslanAisin commented on #3
@PeterNgTr yeah I tried different cases. Nothing :(

[2019-09-16 10:35] PeterNgTr commented on #3
@RuslanAisin are those Ids from testrail or just bogus ids? 🤔

[2019-09-16 10:47] RuslanAisin commented on #3
@PeterNgTr , it is real ID from my testrail's cases

[2019-09-16 11:00] PeterNgTr commented on #3
@RuslanAisin could you expose your config? (yeah of course you should hide any sensitive info)

[2019-09-16 11:12] RuslanAisin commented on #3
@PeterNgTr
My config
``// ================TestRail====================

  testrail: {
       require: 'codeceptjs-testrail',
       host: 'https://aisin1.testrail.io/',
       user: 'aisin.r@n-market.pro',
       password: 'XKEC88LhJPUp7CL',
      // suiteId: 1,
       projectId: 1,
       runName: '', //input any name
       enabled: true, //false
 },``

Example cases
![image](https://user-images

[2019-09-16 11:15] PeterNgTr commented on #3
@RuslanAisin could you run with --verbose mode then adding the logs here?

[2019-09-16 11:46] RuslanAisin commented on #3
@PeterNgTr  I attached file

[new 1.txt](https://github.com/PeterNgTr/codeceptjs-testrail/files/3616069/new.1.txt)

[2019-09-16 11:51] PeterNgTr commented on #3
@RuslanAisin are you updating your package.json to use latest version of this helper?

[2019-09-16 11:53] RuslanAisin commented on #3
@PeterNgTr  yeah "version": "1.2.1",

[2019-09-16 11:55] RuslanAisin commented on #3
@PeterNgTr NodeJS v8.10.0 mb this problem?

[2019-09-16 11:55] PeterNgTr commented on #3
I didn't see anything wrong in your log file. Would be nice if you could expose your demo project, I would run on my local to debug it.

[2019-09-16 11:59] RuslanAisin commented on #3
@PeterNgTr  so am I, how do you thing about node version?

[2019-09-16 12:09] PeterNgTr commented on #3
Not really sure about it. But let’s try. :)

[2019-09-16 12:10] RuslanAisin commented on #3
@PeterNgTr  your test case works properly and correct adding to runs?

[2019-09-16 12:44] PeterNgTr commented on #3
@RuslanAisin yeah, it worked as expected.

[2019-09-16 12:44] PeterNgTr commented on #3
also being tested here. https://github.com/PeterNgTr/codeceptjs-testrail/issues/1#issuecomment-530250018

[2019-09-16 12:46] RuslanAisin commented on #3
@PeterNgTr what is your version node?

[2019-09-16 12:48] PeterNgTr commented on #3
@RuslanAisin it's node:12.4.0

[2019-09-16 13:15] RuslanAisin commented on #3
What should I share? my testrail account or test?

[2019-09-16 13:16] RuslanAisin commented on #3
@PeterNgTr I've checked your node version, it doesnt help

[2019-09-16 13:23] PeterNgTr commented on #3
@RuslanAisin it's better that you can provide me an example code on github. Or, you can contact me with skype id: peter.nguyentr@gmail.com for fast communication.

[2019-09-16 13:36] RuslanAisin commented on #3
@PeterNgTr oh my God it is works!!!! Its very very strange i dont know maybe miracle or smth like that))))))
![image](https://user-images.githubusercontent.com/49075028/64962440-1b8b6d00-d8a0-11e9-886d-5696494a1328.png)

[2019-09-16 13:38] RuslanAisin commented on #3
@PeterNgTr I have one thing. I deleted all milestones. Maybe it was problem. Need more test. In this time all works property. Thank you for help. I close the issue

[2019-09-16 13:38] #3 closed

[2019-09-16 13:44] PeterNgTr commented on #3
@RuslanAisin cool. 👍

[2019-10-18 16:11] RuslanAisin opened #5 "Input to TestRail failures from console"
Is it possible input failures from console?

![image](https://user-images.githubusercontent.com/49075028/67110058-8bac4c00-f1da-11e9-9280-55f8227b17fb.png)
 to TestRail insted unknow information "This test is failed due to {"9":"{}"}"
![image](https://user-images.githubusercontent.com/49075028/67110137-b26a8280-f1da-11e9-9e71-624120d64a58.png)

[2019-10-21 09:16] PeterNgTr commented on #5
@RuslanAisin please check out the latest version, this should be improved.

<img width="781" alt="Screenshot 2019-10-21 at 11 14 37" src="https://user-images.githubusercontent.com/7845001/67192574-1e740300-f3f4-11e9-846e-66681c47dd07.png">

[2019-10-21 13:51] RuslanAisin commented on #5
cases added to Testrail as untested status
![image](https://user-images.githubusercontent.com/49075028/67211146-f0f27e00-f422-11e9-96db-92bf97e8f3b2.png)

[2019-10-21 14:22] PeterNgTr commented on #5
@RuslanAisin this should be fixed in latest version!

[2019-10-21 14:33] RuslanAisin commented on #5
Fixed ok! Thank you for very useful feature!
![image](https://user-images.githubusercontent.com/49075028/67214760-f5219a00-f428-11e9-9f1a-da7987106189.png)

[2019-10-21 14:34] #5 closed

[2019-11-25 12:12] greenkeeper[bot] opened #6 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2020-01-24 15:39] yayura commented on #3
Hi!
Can you help, please?
 When I use [tags](https://codecept.io/advanced/#tags) in my tests, like this
`Scenario('test1 @C1', (I) => {
I.amOnPage('/');
}).tag('@test').tag('@inprogress');`
plugin does not submits results to TestRail,  with error at the end
`(node:8484) UnhandledPromiseRejectionWarning: Error: Request failed with status code 400
    at createError (C:\Users\User\Documents\codecept

[2020-01-24 17:31] PeterNgTr commented on #3
Hey, do you check if you can put .tag.tag like that with codeceptjs?

[2020-01-25 09:35] yayura commented on #3
@PeterNgTr  We use tags like this:
`Feature ('Login')`
`Scenario('test1 @C1', (I) => {`
`I.amOnPage('/');`
`tag('@inprogress').tag('@test').tag('@stage');`

I tried to add  .tag('@C1') to the end and to the start of tag chain,
`tag('@C1').tag('@test').tag('@stage');`
`tag('@inprogress').tag('@test').tag('@C1');`

Actual result:
Testcases were not added to the testrun and results was not submitted,

[2020-02-12 13:18] xgene34 opened #9 "UnhandledPromiseRejectionWarning:"
Hi,

I tried today to use your plugin you created but it doesn't work. I'm getting following error:
(node:21584) UnhandledPromiseRejectionWarning: Error: Request failed with status code 400
    at createError (D:\Dev\codeceptJS\node_modules\axios\lib\core\createError.js:16:15)
    at settle (D:\Dev\codeceptJS\node_modules\axios\lib\core\settle.js:17:12)
    at IncomingMessage.handleStreamEnd (D:\D

[2020-02-12 13:23] PeterNgTr commented on #9
@xgene34 what is your config file?

[2020-02-12 14:15] xgene34 commented on #9
This is inside
testrail: {
      require: 'codeceptjs-testrail',
      host: 'https://URL',
      user: 'USERNAME',
      password: '1DwsVf09t43JMm3CKfWd-4HHFGrh4OPjAa2Yw5FAx',
      suiteId: 1569,
      projectId: 117058,
      runName: 'Automated tests run ${dd/mm/yyy H:M}',
      enabled: true
    }

[2020-02-13 13:31] PeterNgTr commented on #9
@xgene34 nothing is wrong it seemed, could you copy the logs when running with --verbose flag?

[2020-02-13 13:55] xgene34 commented on #9
@PeterNgTr
here are the logs:
 npx codeceptjs run --grep "Refund" --verbose
(node:27676) UnhandledPromiseRejectionWarning: Error: Request failed with status code 400
    at createError (D:\Dev\codeceptJS\node_modules\axios\lib\core\createError.js:16:15)
    at settle (D:\Dev\codeceptJS\node_modules\axios\lib\core\settle.js:17:12)
    at IncomingMessage.handleStreamEnd (D:\Dev\codeceptJS\node_modul

[2020-02-13 14:00] PeterNgTr commented on #9
@xgene34 well, I'm into this.

[2020-02-13 14:02] xgene34 commented on #9
@PeterNgTr  thx. Let me know if you figure something out or u need something

[2020-02-13 14:38] PeterNgTr commented on #9
oh, the issue comes from here -> https://github.com/PeterNgTr/codeceptjs-testrail/blob/6ddb0e62af7f1968510e46b5ce1de1fcfafb5a49/index.js#L205

`runId` is undefined on that call, hence, it cannot update testrun and leads to the next error. (cannot update test result on that testrun while testrun is null)

[2020-02-13 15:48] xgene34 commented on #9
@PeterNgTr but shouldn't run be created by plugin?

[2020-02-13 16:45] PeterNgTr commented on #9
@xgene34 it's now fixed with `1.4.0`. Closing this for now.

[2020-02-13 16:45] #9 closed

[2020-02-14 08:48] PeterNgTr commented on #3
@yayura I found the issue, would be fixed in `1.4.1` if you have chance to test it again.

[2020-02-20 08:34] xgene34 commented on #9
@PeterNgTr  - I noticed today when having more then 2 tests cases to report I get an error in console:

{ id: '720084', elapsed: '7s' }
{ id: '529330', elapsed: '7s' }
(node:28592) UnhandledPromiseRejectionWarning: Error: Cannot attach file due to Error: read ECONNRESET
    at D:\Dev\PayTestFramework\node_modules\codeceptjs-testrail\index.js:156:10
    at processTicksAndRejections (internal/proces

[2020-02-20 08:40] PeterNgTr commented on #9
Hey @xgene34 are you using the latest version of this lib?

[2020-02-20 08:43] xgene34 commented on #9
@PeterNgTr ahh it looks like it not :-) I'll try with 1.4.2 I had 1.4.0

[2020-02-20 08:54] xgene34 commented on #9
@PeterNgTr - so don't get stacktrace now but still I get an error:
Cannot attach file due to Error: read ECONNRESET
Cannot attach file due to Error: Request failed with status code 500
npm ERR! Test failed.  See above for more details.

I also noticed that testrail itself get's unresponsive when sending results to it

[2020-02-20 08:58] PeterNgTr commented on #9
@xgene34 could you do me a favor? Run with `--verbose` mode to get more detailed logs.

[2020-02-20 09:26] xgene34 commented on #9
@PeterNgTr hmm so I updated also codeceptjs now and webdriver and I runned the tests with --verbose mode
here is the result :
  FAIL  | 6 passed, 2 failed, 4 skipped   // 3m
    Emitted | global.result ([object Object])
    Emitted | global.after ([object Object])
Cannot attach file due to Error: Request failed with status code 500
Cannot attach file due to Error: Request failed with status code 5

[2020-02-20 09:48] PeterNgTr commented on #9
@xgene34 are you using self-hosted testrail or cloud testrail? also, please make sure your account has proper permissions for attachments.

http://docs.gurock.com/testrail-userguide/howto-permissions

[2020-02-20 09:58] xgene34 commented on #9
@PeterNgTr  it's self-hosted. Yeah could be that I don't have permission. Have to check with testrail admin

[2020-02-20 10:20] PeterNgTr commented on #9
@xgene34 maybe you should take a look at this. https://discuss.gurock.com/t/cannot-write-to-reports-dir/1617

[2020-02-20 10:23] xgene34 commented on #9
@PeterNgTr  thanks a lot for the help

[2020-02-25 15:33] #6 closed

[2020-02-26 17:09] cat-ninja opened #12 "Failure on results attachment"
Hi! I found that at the end of the test there may be an error in results attachment.
If I'm commenting a line of code that you can see in this snippet it works well.
[code]

That's what I'm seeing without any changes in the code:
![image](https://user-images.githubusercontent.com/17785134/75369064-be2a2c00-58d3-11ea-88c0-ed45d7b5c68c.png)

P.S: I have 2 test cases in the test scenario name so this

[2020-02-26 17:36] cat-ninja commented on #12
I may be figured out why it's happening. I have 2 test cases in the scenario name, so the attachment comes to the first test case and then gets deleted. Is it possible?

[2020-02-26 17:54] PeterNgTr commented on #12
@cat-ninja maybe due to the path separator is different from unix* and windows that causes the issue.

Also I think removing screenshots action would not cause trouble if we don't call it. :)

[2020-02-26 19:14] cat-ninja commented on #12
@PeterNgTr yeah, and besides of that test run gets stuck after this error

[2020-02-27 10:41] PeterNgTr commented on #12
could you help create a PR after you tested it out? I don't have windows nearby :)

[2020-02-27 10:55] PeterNgTr commented on #12
@cat-ninja well, I just removed the step to delete screenshots afterwards. I don't think it's necessary :)

[2020-02-27 11:48] cat-ninja commented on #12
@PeterNgTr Nice, I created #13 to make it work independently of a platform

[2020-02-27 11:52] PeterNgTr commented on #12
cool, thanks @cat-ninja !

[2020-02-27 12:43] cat-ninja commented on #12
@PeterNgTr Looks like the latest version that I can get using npm does not include changes from #13 but I saw you merged it. Can you take a look, please?

[2020-02-27 13:15] PeterNgTr commented on #12
did you check if you got the latest version? @cat-ninja

[2020-02-27 13:27] PeterNgTr commented on #12
@cat-ninja your PR should be there now
https://github.com/PeterNgTr/codeceptjs-testrail/commit/402dd5a4c6e2c5e7ccc9c6683d186e6fa765b07f

[2020-02-27 13:29] cat-ninja commented on #12
@PeterNgTr  Works now, thanks a lot :)

[2020-02-27 13:29] #12 closed

[2020-03-12 08:37] xgene34 opened #16 "Creating test run with options like different configurations"
Hi,

I was wondering if it's possible to create testrun and then add some custom configuration automatically?
Because I have like same testcase that I run for different configuration and when creating testrun I add one test case with different configurations.
something like this:
![image](https://user-images.githubusercontent.com/13034039/76502784-fa699a80-6444-11ea-9d88-f5262c643480.png)

Thanks.

[2020-03-12 08:43] PeterNgTr commented on #16
@xgene34 could you expose more regarding the custom configuration? I didn’t get it :)

[2020-03-12 08:53] xgene34 commented on #16
@PeterNgTr -  So as a matter a fact we need to create Test Plan and add Test Suit to it like:
![image](https://user-images.githubusercontent.com/13034039/76503567-6567a100-6446-11ea-8cdf-13c5220113e1.png)

Then there is "Configuration" button:
![image](https://user-images.githubusercontent.com/13034039/76503677-90ea8b80-6446-11ea-8d99-98f026308ae1.png)

and when clicking on configuration: you can

[2020-03-12 09:06] PeterNgTr commented on #16
@xgene34 I just did an exploration of this. Related to test plan creation, I think. But could you explain more the flow you need, I don't use this much.

[2020-03-12 09:23] xgene34 commented on #16
@PeterNgTr
So as I sad I have like for one Test Case(in my case one test flow) I have multiple configurations/variatons and I normally don't write 50 same test cases for same thing with minor changes and that's where this comes in play regarding this configurations. But test plan comes in play for this and if you have multiple projects and you can add different suits from different projects inside

[2020-03-12 09:39] PeterNgTr commented on #16
@xgene34 so basically the full flow should be following when the execution by codeceptjs finished:

-  first create a test plan
- then add test run to that test plan
- add the desired configuration to test run

The thing is here how many test runs are added here, if I understand correctly, it depends on the how many configurations?

[2020-03-12 09:53] xgene34 commented on #16
@PeterNgTr  so yes basically as you sad but configurations are mapped to specific case. so it could happen that only one case has like 50 configurations and the rest don't have any configuration.

So my thoughts on this are for case/cases with configurations create separate suite/suites with configuration and for rest without configuration.
Because testrail automatically assigns all cases in suit

[2020-03-12 10:00] PeterNgTr commented on #16
@xgene34 I don't think the configuration is bonding to the test case when you create the test case, but rather than bonding the the test runs when you create them in test plan, am I right?

[2020-03-12 10:02] xgene34 commented on #16
@PeterNgTr -  yes, exactly. But the run should contain only cases that have configuration otherwise all cases in run will be assigned to all configs

[2020-03-12 10:05] PeterNgTr commented on #16
@xgene34 well, adding test run to test plan via api calls would give you the possibility to provide selected test cases.

[2020-03-12 10:11] xgene34 commented on #16
@PeterNgTr  yes but can you add something like this with configs to your plugin so there will be possibility to update testrail with the run

[2020-03-12 10:16] PeterNgTr commented on #16
@xgene34 I guess it would be possible. But may take a while. :)

[2020-03-12 10:18] xgene34 commented on #16
@PeterNgTr  I get it, don't expect it to be right away but would be good if you could plan for it in future releases

[2020-03-12 12:06] PeterNgTr commented on #16
@xgene34 First step is done, creating the test plan with test run, test results

![](http://g.recordit.co/W2NzzRddfK.gif)

[2020-03-12 12:12] xgene34 commented on #16
@PeterNgTr cool.. that was fast.

[2020-03-12 12:15] PeterNgTr commented on #16
@xgene34 next, add configurations to test run would be a lot fun.

[2020-03-12 12:23] xgene34 commented on #16
@PeterNgTr  yes, I can imagine that will be interesting, I saw there is an api call for configs also, hope that helps.

[2020-03-12 12:30] PeterNgTr commented on #16
@xgene34 cause in configurations they have groups, configurations that bring so much things to handle when you want to provide an easy way to handle them in plugin config section.

[2020-03-12 12:44] xgene34 commented on #16
@PeterNgTr  yeah I got that. There are lot of work there probably to make that so configurable as you sad in plugin section

[2020-03-12 12:50] PeterNgTr commented on #16
@xgene34 what I could think of when you want to use this plugin to add configurations to your test run is:

- the first run to generate the test plan and the test run with desired configuration.
- the second run to add the test run with another desired configuration to the same test plan.

Or another possibility:

- there will be multiple test plans and each has a test run with desired configurati

[2020-03-12 13:00] xgene34 commented on #16
@PeterNgTr - I would go for first option because creating multiple test plans is not really  useful from my perspective. But in first option can we have also runs without configuration so let's say possibility to have one test plan with mixture of test runs some with and some without configuration?

[2020-03-12 13:19] PeterNgTr commented on #16
@xgene34 that would possible, let's say the following:

- if you provide the `testplan_id` > if you provide `configuration`> the new test run is added to provided testplan with configuration.
- if you don't provide the `testplan_id` > if you provide `configuration`> the new test run is added to new created testplan with configuration.
- if you don't provide the `testplan_id` > if you don't  provid

[2020-03-12 13:22] xgene34 commented on #16
@PeterNgTr - yeah sounds good

[2020-03-12 13:27] PeterNgTr commented on #16
@xgene34 how easy for you to get the `configuration_id` or `configuration_name` is easier?

[2020-03-12 13:35] xgene34 commented on #16
@PeterNgTr configuration_name would be easier I think

[2020-03-12 16:30] PeterNgTr commented on #16
@xgene34, it's ready `codeceptjs-testrail@1.6.0`. You can give it a try when you like.

[2020-03-13 07:13] xgene34 commented on #16
@PeterNgTr thanks, I'll try and let you know soon.

[2020-03-13 07:40] xgene34 commented on #16
@PeterNgTr  so I tried now and creation of plan and run inside works but test case is not assigned to run and not sure about config how this should work. Is it created when added in config? is it possible to add multiple?

[2020-03-13 07:45] PeterNgTr commented on #16
https://github.com/PeterNgTr/codeceptjs-testrail/blob/master/readme.md

the flow is it creates test plan > test run > add config to test run. Right now is one config in a config group.

[2020-03-13 07:57] xgene34 commented on #16
@PeterNgTr  so saw that already but it's not adding config to test run

[2020-03-13 07:58] PeterNgTr commented on #16
@xgene34 could you share your codeceptjs config file? are you providing the proper config name?

[2020-03-13 08:03] xgene34 commented on #16
@PeterNgTr here is my config:
testrail: {
      require: 'codeceptjs-testrail',
      host: 'xxxxxxxxxxxxxx',
      user: 'xxxxxxxxxxx',
      password: 'xxxxxxxxxx,
      suiteId: 1569,
      projectId: 7,
      runName: 'Automated tests run on '+timestamp('DD/MM/YYYY HH:mm'),
      plan: {
        //existingPlanId: ,
        name: 'Automated tests plan on '+timestamp('DD/MM/YYYY HH:mm'),

[2020-03-13 08:06] PeterNgTr commented on #16
@xgene34

[code]

are those existing in your testrail?

[2020-03-13 08:09] xgene34 commented on #16
@PeterNgTr  no but config is created inside the plan if I don't have a plan I can't have config there already

[2020-03-13 08:16] PeterNgTr commented on #16
@xgene34 currently it fetches all existing configs in testrail not creating something new there.

[2020-03-13 08:26] xgene34 commented on #16
@PeterNgTr ok I'll give it a try and let you know

[2020-03-13 09:05] xgene34 commented on #16
@PeterNgTr works fine man. Just one thing is it possible to specify multiple configurations in config? Because I have like 30 different configurations for one case. Thanks

[2020-03-13 09:58] PeterNgTr commented on #16
@xgene34 if config stays in different config group, then I would say it's possible to implement that.

[2020-03-13 10:05] xgene34 commented on #16
@PeterNgTr and if they are all in same group? because I mean I can create separate groups but normally I would use single group with different configurations in it

[2020-03-13 10:09] PeterNgTr commented on #16
@xgene34 http://docs.gurock.com/testrail-api2/reference-plans#add_plan_entry

by api calling, there will be error when you are trying to put the 2 configs in the same group to create testrun.

[2020-03-13 10:14] xgene34 commented on #16
@PeterNgTr shouldn't this be used for adding configs, because we are adding to same config group multiple configs -> test plan and run stay the same
http://docs.gurock.com/testrail-api2/reference-configs

[2020-03-13 10:23] PeterNgTr commented on #16
Those are for adding the configs, config groups. it's not related to assign the configs to testrun.

Assigning the configs to testrun consumes this http://docs.gurock.com/testrail-api2/reference-plans#add_plan_entry

[2020-03-13 10:35] xgene34 commented on #16
@PeterNgTr yeah but we can add then multiple configs or one config group that has multiple configs it will get assigned to the run?

[2020-03-13 10:41] PeterNgTr commented on #16
@xgene34 on the UI, when you try to assign 2 configs of same group, it will create 2 test runs for you. In this plugin, it create a test run, then find the matched config in a config group and assign it to test run. Hence, there will be error when trying to assign 2 configs in the same group.

[2020-03-13 12:35] xgene34 commented on #16
@PeterNgTr exactly, but that's the point it will create runs for different configs otherwise no difference to having only one test run

[2020-03-13 12:53] PeterNgTr commented on #16
@xgene34 the thing here is are you updating the test results to a test run. And you want to create more test runs with different configs, then how the test results be fetched? :)

[2020-03-16 05:53] xgene34 commented on #16
@PeterNgTr good point but somehow this won't work as I expected like this because I need to update create multiple configs and multiple runs need to be executed and updated accordingly.
I suggest some type of saving config runs in buffer and updating properly after whole execution has finished.

[2020-03-16 10:50] PeterNgTr commented on #16
@xgene34 that's not an easy thing to determine when your the whole execution of different combinations of config are finished if you have multiple codeceptjs configs.

[2020-04-01 09:19] golfzaptw opened #17 "Question: Can I update old test run or not?"
I would like to update an old test run like a
<img width="226" alt="Screen Shot 2563-04-01 at 16 16 00" src="https://user-images.githubusercontent.com/21608972/78120411-1bb21b00-7434-11ea-9778-132413a6a202.png">

Because I don't have to create more test folders. Can you support this?

[2020-04-01 10:56] PeterNgTr commented on #17
@golfzaptw currently it's just creating new test run. I think it's possible to update the existing test run. I'll check.

[2020-04-01 11:37] PeterNgTr commented on #17
@golfzaptw try my latest PR https://github.com/PeterNgTr/codeceptjs-testrail/pull/18, if it's good, I'll merge it.

[2020-04-02 03:17] golfzaptw commented on #17
@PeterNgTr it's good, thanks

[2020-04-03 11:25] PeterNgTr commented on #17
@golfzaptw did the results update properly for you?

[2020-04-03 21:38] TripleC1986 opened #19 "Add support to add reference to test run."
Hello, I was wondering if we could add support for reading test run from config and passing when we create a test run. I would be more than happy to create the pr for it. Also, I ran my tests with run-workers --suite command and test runs are being created per suite.

[2020-04-04 18:29] PeterNgTr commented on #19
Sure, any PR is more than welcome. 😊

[2020-04-05 09:20] golfzaptw commented on #17
@PeterNgTr No, It generates new test run.
I think I set up correctly?
[code]

[2020-04-05 12:20] PeterNgTr commented on #17
Did you checkout my PR branch?

[2020-04-05 13:57] golfzaptw commented on #17
I copy your file in PR branch and replace it in `node_modules/codeceptjs-testrail/index.js`, that's correct?

[2020-04-05 14:20] golfzaptw commented on #17
@PeterNgTr And I saw your code, I think It stop in `if (config.plan)` and not update in `await _updateTestRun(runId, ids);`

[2020-04-06 14:33] TripleC1986 commented on #19
@PeterNgTr are you also away that providing the --suites param does not combine the results to one run in testrail ?

[2020-04-09 16:10] PeterNgTr commented on #19
@TripleC1986 maybe the lib will be reworked once CodeceptJS run-workers is refactored.

[2020-04-09 16:17] PeterNgTr commented on #17
@golfzaptw yeah, remove the plan option in your config if you want to update the existing test run. Cause if providing the plan option, it creates new test run.

[2020-04-10 10:21] golfzaptw commented on #17
@PeterNgTr Yes, For now I have
[code]
And after run get error 403 but result updated

[2020-04-10 10:52] PeterNgTr commented on #17
Maybe the 403 error comes from another call. I don’t know yet. But at least it worked for you. 😂

[2020-04-10 13:28] golfzaptw commented on #17
Yes, you will merge this PR or you will fix the 403 error? 😁

[2020-04-10 13:43] PeterNgTr commented on #17
May you post the full error message? Or if you can fix it. That’s also great!

[2020-04-13 05:43] golfzaptw commented on #17
Error message: `Cannnot update run due to Error: Request failed with status code 403`
And an error in this function
[code]
But I think that's function is correct.

[2020-04-13 05:44] golfzaptw commented on #17
With document [API Testrail](http://docs.gurock.com/testrail-api2/reference-runs#update_run)

[2020-04-13 05:50] PeterNgTr commented on #17
Are you providing the proper credentials? Cause it throws 403.

[2020-04-13 06:31] golfzaptw commented on #17
This config required only email and password, right?
[code]

And I set in file .env
[code]
Is it not enough?

[2020-04-13 06:56] golfzaptw commented on #17
I think this is not necessary or not.
`await _updateTestRun(runId, ids);`

Because when I comment it, It's passed in function
[code]
Response
[code]
But I don't know, How this works.

[2020-04-15 13:17] ryaxc opened #20 "Spelling correction in log output"
I wasn't sure what the policy was for reporting issues and/or opening PRs but I found the following in index.js:
https://github.com/PeterNgTr/codeceptjs-testrail/blob/master/index.js#L147
```output.log(`The reponse is ${JSON.stringify(res.data)}`);```
Should be `The response`

[2020-04-15 13:23] ryaxc opened #21 "Log level is hardcoded and overrides environment configuration"
The ```output.level(3)``` on https://github.com/PeterNgTr/codeceptjs-testrail/blob/master/index.js#L8 is causing a problem where it forces suite execution to be `verbose` (or at least `debug`, I'm not sure which is "3").  There are two problems with this:
1) It's not respecting the logging level execution as set in either the `codeceptjs run` command or the configuration
2) It's far too much loggi

[2020-04-15 14:19] PeterNgTr commented on #20
Thanks, I fixed them. :)

[2020-04-15 14:19] #20 closed

[2020-04-15 16:10] PeterNgTr commented on #21
@ryaxc well, I think I should separate the plugin logs with codeceptjs logs. So I pushed changes on latest version `1.6.1`. Please test it out and report issues if you encounter anything.

[2020-04-15 16:10] #21 closed

[2020-04-25 15:22] greenkeeper[bot] opened #22 "An in-range update of jest2 is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## There have been updates to the *jest2* monorepo:

 + - The `devDependency` [expect](https://github.com/facebook/jest) was updated from `25.3.0` to `25.4.0`.

🚨 [View failing branch](https

[2020-05-06 13:36] ryaxc commented on #21
So far so good. Thanks!

[2020-05-14 14:19] PeterNgTr commented on #17
[code]
@golfzaptw per my testing, it's working fine. I could see the new results on existing run.

my testrail config in config file:
[code]

<img width="896" alt="Screen Shot 2020-05-14 at 4 17 42 PM" src="https://user-images.githubusercontent.com/7845001/81945525-82fbe700-95fe-11ea-9699-90a6188b9967.png">

[2020-05-14 14:25] #17 closed

[2020-05-14 14:30] #22 closed

[2020-05-14 15:00] PeterNgTr commented on #16
I closed this for now. :)

[2020-05-14 15:00] #16 closed

[2020-05-14 15:00] #19 closed

[2020-05-18 10:27] xgene34 commented on #16
@PeterNgTr - Sorry man, I'll come back to this as soon as I can :-)

[2020-08-18 19:41] JonP-xpb opened #24 "codecept cucumber and testrail test cases"
I have my scenarios defined in feature files, how can I get the test cases id @Cxxxx into the test description?

example of a feature/scenario
______________________________________________________
Scenario Outline: Get the statistics
    Given...
    When ...
  Then..
       Scenarios:
       | param a  |  param b |  testrailid  |
       |   xa         |   xb          | @C77444 |
       |  xc

[2020-08-18 19:45] PeterNgTr commented on #24
Could you provide a sample repo that uses codeceptjs gherkin? I don't use it on daily basis so better to have a ready repo so that I could take a look.

[2021-02-09 08:28] xgene34 opened #28 "uploading result to testrail from Jenkins server is failling"
Hi,

I'm getting following issue when executing testrail connector from Jenkins server:

Cannnot add new test run to existing test plan due to Error: Request failed with status code 400
04:32:04 (node:4612) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'runs' of undefined
04:32:04     at EventEmitter.<anonymous> (e:\jb_home\jobs\Payment_Automation_Framework\workspace\node_modul

[2021-02-14 11:27] PeterNgTr commented on #28
Hey @xgene34 there is possibility that the test are running in slave and you trigger the tests from Jenkins master machine. That results the test execution doesn't send results in real time from slave to master Jenkins.

[2021-02-16 17:37] dtran31 commented on #28
Hi,

I'm getting similar too. I get

Cannnot update run due to Error: Request failed with status code 400
--
993 | Cannnot add result for case due to Error: Request failed with status code 400

It all of a sudden start happening, I didn't change anything. It still works locally though. Tests are running on AWS, using codebuild.

[2021-02-19 11:29] PeterNgTr commented on #28
I just tried with codefresh, seems okay so far. Tests are executed and results are pushed to testrail
<img width="1088" alt="Screen Shot 2021-02-19 at 12 28 07 PM" src="https://user-images.githubusercontent.com/7845001/108499058-09d8a100-72ae-11eb-823a-ffb9218bffc6.png">

<img width="1505" alt="Screen Shot 2021-02-19 at 12 28 21 PM" src="https://user-images.githubusercontent.com/7845001/108499054-

[2021-02-19 11:45] PeterNgTr commented on #28
I also noticed `Cannnot add new test run to existing test plan due to Error: Request failed with status code 400
04:32:04 (node:4612) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'runs' of undefined
04:32:04 at EventEmitter. (e:\jb_home\jobs\Payment_Automation_Framework\workspace\node_modules\codeceptjs-testrail\index.js:308:18)` so you were running tests with test plan option

[2021-02-19 12:32] xgene34 commented on #28
you are running on local instance?
I'm running tests on selenium grid maybe that could be the issue...hmmm

[2021-02-19 12:37] PeterNgTr commented on #28
I'm running with codefresh a cloud CI/CD.

[2021-02-19 12:43] xgene34 commented on #28
I'll check a bit more...for now it looks like it can't create the test run...when running from my machine all works fine :-)
thinking maybe something with access rights from Jenkins server to testrail server :-)

[2021-02-19 17:17] dtran31 commented on #28
Interesting. For me the test run is created, but the results aren't pushing. Very strange. Tests complete and everything too.

OK  \| 26 passed, 116 skipped   // 47m
--
990 | [mochawesome] Report HTML saved to /codebuild/output/src259724161/src/github.com/momenthouse/automated-testing/output/reports/2021-02-17_browserstack_momenthouse.html
991 |  
992 | Cannnot update run due to Error: Request fai

[2021-02-19 17:26] PeterNgTr commented on #28
Could you perhaps show your testrail config? Ofc with obfuscation the sensitive info and a test case title?

[2021-02-19 17:32] dtran31 commented on #28
Nothing to fancy, same as I have for my local which works, only difference is the runName: `Local Test Run ${currentTime}`

testrail: {
      require: 'codeceptjs-testrail',
      host: 'https://momenthouse.testrail.io',
      user: 'david@momenthouse.com',
      password: '*****',
      suiteId: 1,
      projectId: 1,
      runName: `Smoke Test Run ${currentTime}`,
      enabled: true
    }

[2021-02-19 17:52] PeterNgTr commented on #28
Oh is it normal c in @c28 or @C28? Also I noticed you're not using codeceptjs 3.x right?

[2021-02-19 18:00] PeterNgTr commented on #24
Hey @JonP-xpb did you have chance to try the gherkin tag here https://codecept.io/bdd/#advanced-gherkin

[2021-02-19 18:25] dtran31 commented on #28
It's capitalized C in the code, not sure why it pasted lowercase c. We're still using codeceptjs 2.x for the web automation atm, would that be the issue? I would think that would break the test run creation portion too.

[2021-05-18 16:00] jedicwb opened #32 "Other Axios calls will break while having codecepjs-testrail plugin enabled"
Whenever there is another function in the same Codeceptjs test run also using axios and a test uses such a function while also using this testrail plugin, the other axios call will break.

Still not sure what is happening, but it seems like codecepjs-testrail is starting an axios session beforehand and leaving it open, unabling any other feature that also uses axios to run.

I have several axios f

[2021-06-03 12:19] jedicwb commented on #32
After some investigation I finally come to the root cause.
This line here:
https://github.com/PeterNgTr/codeceptjs-testrail/blob/2e38f13367e938f5724276d774f0f45aaab015da/index.js#L51

Because of how Codeceptjs loads plugins, this Global configuration of Axios will override any other Axios call in the same test suite, including default Codeceptjs HTTP calls using [REST](https://codecept.io/helpers/

[2021-06-03 12:48] PeterNgTr commented on #32
hey @jedicwb thanks for spending time on figure it out the issue. I released new version (1.7.1). Hope it helps!

[2021-06-03 12:48] #32 closed

[2021-06-03 14:06] jedicwb commented on #32
Upgraded and now it's solved. Thank you so much! @PeterNgTr

[2021-07-15 12:51] EgorBodnar opened #35 "Feature. Pull/push Gherkin tests with steps from/to TestRail."
@PeterNgTr do you have any plans to integrate that feature?
To have ability to get/upload testRail test case steps by adding id in you feature file and running a pull/push script.

[2021-07-28 23:03] EgorBodnar commented on #24
@JonP-xpb hey!
You should add Before hook:
[code]
And here how your test must look like:
[code]

[2021-08-09 13:45] EgorBodnar commented on #24
@PeterNgTr it is a temporal solution.  Maybe we should add support for this feature?

[2021-08-16 19:40] manasiLatch commented on #28
I am running into the same issue where tests pass on Jenkins but testrail results are not updated anymore. It shows 0% passed in the test run that gets created.

` OK  | 64 passed   // 35m `
`Cannnot update run due to Error: Request failed with status code 400 `
`Cannnot add result for case due to Error: Request failed with status code 400`

The Testrail configuration I have has not changed but th

[2021-08-16 19:42] manasiLatch commented on #28
I am running into the same issue where tests pass on Jenkins but testrail results are not updated anymore. It shows 0% passed in the test run that gets created.

` OK  | 64 passed   // 35m `
`Cannnot update run due to Error: Request failed with status code 400 `
`Cannnot add result for case due to Error: Request failed with status code 400`

The Testrail configuration I have has not changed but th

[2021-09-03 07:42] ZloyByryndyk commented on #28
I have the same problem, while there were a few tests (less than 10), the results of the run were sent to TestRail, as soon as there were more of them, the results of the run are not created:

(Cannot add new test run to existing test plan due to Error: Request failed with status code 400
(node:30581) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'runs' of undefined)

My config

[2021-09-03 07:49] PeterNgTr commented on #28
Hey @Georgegriff do you happen to encounter this issue cause iirc, you shared your tcs are around 800+? 😊

[2021-09-03 07:58] Georgegriff commented on #28
Unfortunately I don't, I dont provide a plan I just provided a predefined runId with no plan information at all. We have separate process for generating our test plans (with runs).

This means I go down a different code path

[2021-09-06 13:39] vladbalanescu opened #40 "Not verbose enough error message"
Background:
---
The error handling from `addResultsForCases` can be improved. It took me a fair amount of time to find out that my code was trying to update a tag which was not present into my TestRail suite:
[code]

Actual error found with extra debugging:
---
[code]

[2021-09-06 13:40] vladbalanescu commented on #40
Planning on proposing a contribution for a better error handling around this function shortly!

[code]

[2021-09-07 11:29] ZloyByryndyk commented on #28
I solved this problem `Cannnot update run due to Error: Request failed with status code 400`  for myself, it turns out that several of my tests had the same test case ID, as soon as I set a unique id for each test , everything worked and reports are sent to TestRail

maybe this will help someone)

[2021-09-08 08:32] vladbalanescu opened #42 "Add results for cases failing if the wrong label is present in the POST request"
Background:
---
TR API is soooo “great” that if 1 single label is missing from a run and you’re trying to send the results with this 1 culprit label, TR will not accept ANY of the test run’s results and fail with something like this:
[code]
This yielded a difference of 24 test results not being published from Jenkins to TR, just because all of them happened to have been run on the same thread wher

[2021-09-08 08:33] vladbalanescu commented on #42
@PeterNgTr I'm currently working on a fix for this, and debugging locally on my machine to make sure everything works as I think it should, and I'll have a PR on the fly right away 👍

[2021-09-08 08:41] PeterNgTr commented on #42
Many thanks for your efforts @vladbalanescu

[2021-09-08 08:53] vladbalanescu commented on #42
My absolute pleasure. I won't mind if you can make me a contributor, to not have to push to my fork everytime and just do PRs here straight away 🙃

[2021-09-08 08:57] PeterNgTr commented on #42
just sent you the invite @vladbalanescu ;)

[2021-09-08 11:47] #40 closed

[2021-09-08 11:48] #42 closed

[2021-09-08 11:50] PeterNgTr commented on #28
https://github.com/PeterNgTr/codeceptjs-testrail/pull/44

Hopefully this PR solves the issue.

[2021-09-08 11:50] #28 closed

[2021-09-16 19:37] #35 closed

[2021-09-16 19:40] EgorBodnar commented on #24
@PeterNgTr the problem is resolved in the [PR](https://github.com/PeterNgTr/codeceptjs-testrail/pull/37)
I guess the issue should be closed.

[2021-09-24 08:46] JakubKasprzyk opened #49 "Codeceptjs + testrail configuration problem"
I've installed the plugin and created the first test run - the API integration worked, but after I create the next test run I've started to have some problems with the config. I'm not sure what I'm doing wrong, could you please take a look and help me?

In testrail I've created a test plan with ID "R27" and inside it I've created a test run with ID "R28"
Below is my configuration:

` testrail: {

[2021-09-30 10:12] Xotabu4 commented on #49
@JakubKasprzyk  I got this issue when i got auth errors, had to replace api token with password. Try to add
`debugLog: true,` for more details

[2021-10-01 14:02] JakubKasprzyk commented on #49
@Xotabu4  I've replaced the API token with a password, and run the tests. Unfortunately, it didn't work :disappointed:  - below is a log from console:

`getConfigs: SUCCESS - the response data is []
updateRun: SUCCESS - the request data is runId:28
updateRun: SUCCESS - the response data is {"id":28,"suite_id":2,"name":"Test Run 9/20/2021","description":null,"milestone_id":null,"assignedto_id":null

[2021-10-04 12:31] dasdevelop opened #51 "CodeceptJSs test status not updating in Testrail"
I am using trying to push my CodeceptJS test results to Testrail. I am seeing my new Test Runs created and the correct test inside of that test run, just no result despite the test running (and passing).

**PACKAGE.JSON**
{
  "dependencies": {
    "codeceptjs": "^3.1.2",
    "codeceptjs-chai": "^2.3.2",
    "codeceptjs-testrail": "^1.8.3",
    "faker": "^5.5.1",
    "playwright": "^1.16.0-next-alp

[2021-10-04 13:02] PeterNgTr commented on #51
hey @dasdevelop could you turn on the `debugLog` to know more the what happened?

[2021-10-04 13:34] dasdevelop commented on #51
Sure thing. Also, I am noticing that when I set the 'runId' value to a previous Test Run, it does not re-use that Test Run, but instead creates a new one. I replaced my domain with <my domain> below.
<hr>
login --
  ✔ login form fields @C2 in 1434ms

  OK  | 1 passed   // 6s
getConfigs: SUCCESS - the response data is [{"id":1,"name":"Default","project_id":1,"configs":[{"id":1,"name":"Default","gro

[2021-10-05 20:59] EgorBodnar commented on #51
I've the same issue after update from `1.7.0` to `1.7.7`

[2021-10-26 08:18] hatufacci opened #56 "addResultsForCases(runId, data) method send back 400 response"
addResultsForCases(runId, data) method send back **400 response (v1.8.7)**
addResultsForCases(runId, data) method send back **200 response (v1.7.1)**

absolutely the same data object, runId in both cases.

v1.7.1
[code]
v1.8.7
[code]
data object:
[code]

[2021-10-26 11:04] hatufacci opened #57 "testrail.getCases call return back only array with 250 values max"
According to https://www.gurock.com/testrail/docs/api/reference/cases#getcases
As of February 26, 2021 the data structure returned by bulk GET API endpoints will change. These bulk endpoints will no longer return an array of all entities, but will instead return an object with additional pagination fields and an array of up to 250 entities.
[code]
if your test rail has more than 250 tests pack of

[2021-10-26 13:07] #56 closed, assigned to nobody

[2021-10-27 13:07] Xotabu4 opened #58 "With run-workers 12 a lot of results not reported"
Hi,

My plugin config is:
[code]
when running `codeceptjs run-workers 12`

I getting results like this in console
  FAIL  | 207 passed, 49 failed, 85 skipped   // 43m

But testrail has very few of results reported.
![image](https://user-images.githubusercontent.com/3033972/139071427-f77376d8-cdcf-4be8-98c4-852e7b514f62.png)

Unfortunately `debugLog: true` does not work for parallel executions, so

[2021-11-01 13:37] vladbalanescu commented on #57
@hatufacci Understood. Ok, I think it makes sense to have this change in I guess.

Since I don't have the latest TestRail version - i.e. no way to test my changes - please submit your changes in a PR and I will happily review and merge. Please also be careful to put some sort of logic to say: "if TR version < X, etc", as we don't want to break consumers as myself for instance on previous TR versio

[2021-11-02 06:38] hatufacci commented on #57
@vladbalanescu Do you know how to check TR version via api call? I do not see such call in api

[2021-11-02 09:07] hatufacci commented on #57
https://github.com/PeterNgTr/codeceptjs-testrail/pull/59

[2021-11-23 17:19] vladbalanescu opened #60 "Results.version is now a required field"
Any pushes to `<TRserver/add_results_for_cases>/:runId` now result in:
![image](https://user-images.githubusercontent.com/16047402/143072824-8bbaecf0-4471-4022-a328-893b872d86e4.png)

[2021-11-23 18:39] #60 closed

[2021-11-23 18:45] PeterNgTr opened #62 "[release] - using semantic versioning"
We would like to use semantic versioning package to automatically update the package version when a PR is merged into main branch.

[2022-01-18 12:27] PeterNgTr commented on #57
Fixed with 1.8.12

[2022-01-18 12:27] #57 closed

[2022-01-18 12:28] PeterNgTr commented on #58
I guess this is fixed by 1.8.12

[2022-01-18 12:28] #58 closed

[2022-02-16 17:46] ogiexela opened #66 "test results not submitted when before or beforeSuite hooks fail"
"codeceptjs": "3.2.2",
"codeceptjs-testrail": "1.8.10",

When Before and BeforeSuite hooks fail the results are not submitted to Test rail

In the example before only the last test that didn't have the Before/BeforeSuites will be reported to test rail with 100% success even though 2 out of 3 tests failed.

Is there a way to submit results for tests that failed because of the Before/BeforeSuites fa

[2022-02-16 17:52] PeterNgTr commented on #66
Hi @ogiexela based on the implementation here. We only push results of test events https://github.com/PeterNgTr/codeceptjs-testrail/blob/master/index.js

Before/After is just like the preparation steps more than the test itself. So not really we push the results based on those events.

[2022-02-16 19:27] ogiexela commented on #66
Otherwise we are getting false results of 100% passed tests which doesn't match what codeceptjs reports.

Looking at the code  https://github.com/PeterNgTr/codeceptjs-testrail/blob/master/index.js, it would be possible to capture the skipped tests with the reason using the event.dispatcher and submit these tests as failures. perhaps adding a config option "submitSkippedTestsAsFailures"?

[code]

`

[2022-02-24 11:17] wjaros opened #67 "Request: Extend configuration options."
Hi! Thanks for the package. I have found it very useful to create a test run based on the cases that actually run not all of them. Could you extend the configuration options so the `data` looks like that?

[code]

[2022-02-24 12:45] wjaros commented on #67
I have created PR with possible solution:

https://github.com/PeterNgTr/codeceptjs-testrail/pull/68

[2022-02-24 14:17] #67 closed

[2022-02-25 14:05] #62 closed

[2022-03-30 11:52] xgene34 opened #74 "getCases: ERROR - cannot get results for projectId"
Hi,

I'm having issues when testresults should get updated:

my config:
` testrail: {
      require: 'codeceptjs-testrail',
      host: 'https://testrail.URL',
      user: process.env.TestRail_User,
      password: process.env.TestRail_Pass,
      suiteId: 1569,
      projectId: 7,
      //runName: 'Automated tests run on '+timestamp('DD/MM/YYYY HH:mm'),
      runId:10516,
      plan: {
        ex

[2022-03-31 12:38] PeterNgTr commented on #74
hi @xgene34 are you encountering this issue against latest version of this plugin?

[2022-05-19 08:48] shr2 commented on #74
Hi @PeterNgTr I just did some debugging and recognized that there is no cases array in the response of getCases. Even though the api doc at testrails says so. Here s a screenshot
![image](https://user-images.githubusercontent.com/17846323/169251170-edcfc37d-77a9-4360-a825-57dc127baca1.png)

[2022-06-10 14:31] RemigijusMazulis opened #81 "feature suggestion - ability to add failed test steps log to testrail report alongside screenshot"
Would be great to have an option to add failed test steps log into the testrail test report together with screenshot. sometimes screenshot does not show enough info, and when test had run in a pipeline then I have to go in there to check logs

[2022-06-10 15:56] PeterNgTr commented on #81
Hi @RemigijusMazulis could you expose what kind of logging you need? I believe this plugin already added the error messages of failed tests.

[2022-06-13 08:04] RemigijusMazulis commented on #81
I am talking about these logs saved into the test result. Now I do not see them
![image](https://user-images.githubusercontent.com/92092655/173305368-69eec4a5-dd6e-420f-9feb-451de89dace8.png)

[2022-06-14 07:50] IBMRob opened #83 "Braking change introduced in a patch version"
In https://github.com/PeterNgTr/codeceptjs-testrail/pull/65/files a breaking change was introduced to always close tests plans. When following SemVer rules any breaking change means that it should be a major version bump. Are you able to revert that change in the v1 and then put that into a v2 to follow proper semVer rules?

[2022-06-20 12:05] PeterNgTr commented on #83
hi @IBMRob would you expose more why this is a breaking change for you?

[2022-06-20 12:23] PeterNgTr commented on #83
@IBMRob you can try the latest version with default back to unclose the test plans. Thanks for your report!

[2022-06-20 12:23] #83 closed

[2022-06-20 12:31] PeterNgTr commented on #74
hi @shr2 @xgene34 , that's weird cause based on the [official docs](https://www.gurock.com/testrail/docs/api/reference/cases/#getcases), each test case in the array of “cases” objects follows the same format as the response to [get_case](https://www.gurock.com/testrail/docs/api/reference/cases#getcase).

[code]

[2022-06-20 12:33] PeterNgTr commented on #49
@JakubKasprzyk nearly a year, not sure if you still encounter this issue with latest version.

[2022-06-20 12:33] #49 closed

[2022-06-20 13:53] PeterNgTr commented on #74
This PR may fix the issue https://github.com/PeterNgTr/codeceptjs-testrail/pull/82

[2022-06-21 15:26] PeterNgTr commented on #66
hi @ogiexela would you try with this https://github.com/PeterNgTr/codeceptjs-testrail/pull/84 to see if it works for you?

[2022-09-08 17:04] #66 closed

[2022-09-08 17:05] PeterNgTr commented on #66
:tada: This issue has been resolved in version 1.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/codeceptjs-testrail/v/1.9.0)
- [GitHub release](https://github.com/PeterNgTr/codeceptjs-testrail/releases/tag/v1.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-19 13:23] PeterNgTr commented on #81
https://github.com/PeterNgTr/codeceptjs-testrail/blob/master/index.js#L143

I saw we add the error there, is it not enough @RemigijusMazulis ?